doctype html
html(lang="en")

head
    meta(charset="utf-8")
    link(rel="icon" type="image/png" href="favicon.png")
    title kotlinjs-hexagen-hybrid

body
    div.container
        div.row.content
            button#restart.btn Restart
    div.container
        div.row.content
            canvas#main
        div.row.content.
            #[a(href="http://red-green-rewrite.github.io/kotlinjs-hexagen/index.html") Original implementation]
            of Kruskal's algorithm connects rooms randomly.#[br]
            This hybrid algorithm tries to create a longer paths, to make dead-ends less obvious.
    script(src="bundle.js")
